* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/bg.jpg);

}

.grandparent {
    margin: 130px 100px 0px 550px;

}

h1 {
    padding-left: 110px;
    margin-bottom: 20px;
    color: rgb(21, 21, 75);
}

.parent {
    width: 450px;
    padding: 50px;
    border: 2px solid rgb(250, 224, 179);
    border-radius: 15px;
}

p {
    display: inline-block;
    color:black;
    font-weight: 700;
}

input {
    display: inline-block;
    margin-left: 50px;
}

.pass {
    margin-left: 10px;
}

button {
    margin-left: 120px;
    width: 100px;

}