*{
    margin: 0;
    padding: 0;
}
.resumelist{
    margin: 20px 0 50px 620px;
    font-size: x-large;

}
a{
margin-left: 400px;
}
.vieww{
    text-align: center;
}
.bi-box-arrow-left{
    margin-right: 5px;
}
